---
# Create a ConfigMap containing role ARNs and AWS account ID in the target namespace

- name: Create temporary file
  ansible.builtin.tempfile:
    state: file
    suffix: yml
  register: ocp4_workload_rosa_parasol_bedrock_cm_tmp

- name: Build configmap manifest
  ansible.builtin.copy:
    dest: "{{ ocp4_workload_rosa_parasol_bedrock_cm_tmp.path }}"
    content: |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{ ocp4_workload_rosa_parasol_bedrock_configmap_name }}
        namespace: {{ ocp4_workload_rosa_parasol_bedrock_configmap_namespace }}
      data:
        AWS_ACCOUNT_ID: "{{ ocp4_workload_rosa_parasol_bedrock_aws_account_id }}"
        BEDROCK_CREATE_KB_ROLE_ARN: "arn:aws:iam::{{ ocp4_workload_rosa_parasol_bedrock_aws_account_id }}:role/{{ ocp4_workload_rosa_parasol_bedrock_bedrock_create_kb_role }}"
        BEDROCK_USER_ROLE_ARN: "arn:aws:iam::{{ ocp4_workload_rosa_parasol_bedrock_aws_account_id }}:role/{{ ocp4_workload_rosa_parasol_bedrock_bedrock_user_role }}"
        BEDROCK_VECTORSTORE_ROLE_ARN: "arn:aws:iam::{{ ocp4_workload_rosa_parasol_bedrock_aws_account_id }}:role/{{ ocp4_workload_rosa_parasol_bedrock_bedrock_vectorstore_role }}"

- name: Apply ConfigMap manifest
  ansible.builtin.command:
    cmd: oc apply -f {{ ocp4_workload_rosa_parasol_bedrock_cm_tmp.path }}
  register: cm_apply
  failed_when: cm_apply.rc != 0

- name: Remove generated configmap manifest
  ansible.builtin.file:
    path: "{{ ocp4_workload_rosa_parasol_bedrock_cm_tmp.path }}"
    state: absent
  when: cm_apply is defined
